@font-face
{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face
{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face
{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.top_menu
{
    text-align: center;
}

.menu_item
{
    list-style: none;
	display: inline-block;
}

.menu_link
{
    text-decoration: none;
    padding: 0 20px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #282b30;
    display: inline-block;
}

.top_block_wrapper
{
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
}

.top_block_title_wrapper
{
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: inline-block;
}

.top_block_title
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    text-transform: uppercase;
}

.content_wrapper
{
    padding: 60px 20px;
    width: 1000px;
    margin: 0 auto;
}

.content_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 40px;
}

.text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #282b30;
    max-width: 560px;
}

.content_list
{
    margin: 0 0 40px;
    padding: 0 0 0 20px;
}

.content_list_item
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #282b30;
    max-width: 380px;
}

.order_button
{
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s
}

.order_button:hover{
    background-color: #0b87bd;  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.button_light {
    background: none;
    color: #0fa8ea;
    border: 1px solid #0fa8ea;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s
}

.button_light:hover{
    background-color: #e6e6fa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.order_title
{
    max-width: 340px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0 0 26px;
}

.order_text_wrapper
{
    display: inline-block;
    width: 430px;
    margin-right: 110px;
	vertical-align: middle;
}

.order_picture_wrapper
{
    display: inline-block;
	vertical-align: middle;
}

.bottom_menu
{
    text-align: center;
}


.forma {
    width: 100%;
    background: #e8e6eb;
    padding: 40px 0;
}

.down_form {
    width: 550px;
    margin: 0 auto;
}

.down_form .content_title {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 40px;
    text-align: left;
}

.down_form .text {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    color: #282b30;
    margin: 0 0 25px;
    max-width: 550px;
    text-align: left;
}

.down_form form {
    width: 550px;
}

.down_form input
{
    width: 550px;
    height: 52px;
    padding: 0 30px;
    border: 1px solid #0fa8ea;
    border-radius: 26px;
    background: #fff;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #282b30;
    margin-bottom: 20px;
   
}

.down_form input::placeholder {
    color: #999;
}

.down_form button {
    width: 550px;
    height: 52px;
    border: none;
    border-radius: 26px;
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s
}

.down_form button:hover{
    background-color: #0b87bd;  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.down_form select
{
    width: 550px;
    height: 52px;
    padding: 0 30px;
    border: 1px solid #0fa8ea;
    border-radius: 26px;
    background: #fff;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #282b30;
    margin-bottom: 30px;

    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none;

    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: right 30px center;
    background-size: 30px 30px;
}


.checkboxes {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    padding: 0 30px;
}

.checkbox_pair {
    display: flex;
    align-items: center;
}

.checkbox_pair input {
    width: 20px;
    height: 20px;
    margin: 0;
    flex: none;
}

.checkbox-label {
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #282b30;
}